{% extends "base.html" %}
{% block title %}Story{% endblock %}
{% block content %}
<section class="container">
	<div class="page-header">
	<div class="tools">
		<h2>Listado de Story</h2>
		<div class="tools">
			<a href="{% url Lista_sprint_view sprint.project.id %}" class="btn btn-danger">
			<i class=" icon-arrow-left icon-white"></i>Volver</a>
			
			<a href="{% url new_story_view sprint.id %}" class="btn btn-success">
			<i class="icon-plus icon-white"></i>Nuevo</a>
		</div>
		<br>
		<ul>
			<li>Sprint: {{ sprint.titulo }} </li>
			<li>Descripcion: {{ sprint.descrip }}</li>
		</ul>
	</div>
	<table border=1 class="table table-bordered table-striped">
	<thead>
	<tr>
		<th>Titulo</th>
		<th>Descripcion</th>
		<th>Peso</th>
		<th colspan=2></th>
	<tr>
	</thead>
	{% for str in page_obj.object_list %}
		<tr>
			<td>{{ str.titulo }}</td>
			<td>{{ str.descrip }}</td>
			<td>{{ str.peso }}</td>
			<td><a href="{% url edit_story_view str.id  %}"><i class="icon-book icon-black"></i>Edit</a></td>
			<td><a href="{% url del_story_view str.id  %}"><i class="icon-off icon-red"></i>Eliminar</a></td>
		</tr>
	{% endfor %}
	</table>
	<div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page={{ contacts.previous_page_number }}">Anterior</a>
	        {% endif %}
	
	        <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>
	
	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
	        {% endif %}
	    </span>
	</div>
<section>

{% endblock %}
