{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Crear Sprint{% endblock %}
{% block content %}

<p>Project:  {{ project.nombre }}</p>

<form method="post" action="" class="form-horizontal">
{% csrf_token %}
        {% crispy form %}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Guardar" />
            o	   
	            <a href="{% url Lista_sprint_view project.id %}" class="btn">Volver</a>
        </div>

</form>
{% endblock %}
